<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
            {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" type="text/css" />
                <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" type="text/css" />
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
            {% endblock %}
            {% block googleFont %}
                <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500" rel="stylesheet">
            {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
            <nav class="navbar navbar-expand-lg navbar-light headerNav" style="background-color: #43CBFF;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"><img src="{{ asset('assets/img/arbrelogo.jpg') }}" width="150px;"></a>

                    <form class="form-inline my-2 my-lg-0 d-flex flex-column bd-highlight">
                        <div class="p-2 bd-highlight mt-4">
                            <input class="form-control" type="search" placeholder="Rechercher" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0 buttonHeaderOk" type="submit">OK</button>
                            <div class="p-2 bd-highlight mr-auto" style="margin-top: -8px;">
                                <a href="#" id="AdvanceSearch">Recherches avancées</a>
                            </div>
                        </div>

                    </form>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse mb-2" id="navbarSupportedContent">
                        <div id="buttonNav" class="form-inline navbar-nav ml-auto">
                            <button class="btn btn-outline-success my-2 my-sm-0 buttonHeader" type="submit">S'identifier</button>
                            <span class="pipeHeader">|</span>
                            <button class="btn btn-outline-success my-2 my-sm-0 buttonHeader" type="submit">Mon panier</button>
                        </div>
                    </div>
                </div>
            </nav>

            <nav id="FixNav" class="navbar navbar-expand-lg navbar-light sticky-top navbar-light headerNavMin" style="background-color: #43CBFF;">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <form class="form-inline">
                            <input class="form-control" type="search" placeholder="Rechercher" aria-label="Search">
                            <button class="btn btn-outline-success buttonHeaderOkNavMin" type="submit">OK</button>
                            <a href="#" id="AdvanceSearchNavMin">Recherches avancées</a>
                    </form>

                    <div class="form-inline navbar-nav ml-auto">
                        <button class="btn btn-outline-success my-2 my-sm-0 buttonHeaderNavMin" type="submit">S'identifier</button>
                        <span class="pipeHeaderNavMin">|</span>
                        <button class="btn btn-outline-success my-2 my-sm-0 buttonHeaderNavMin" type="submit">Mon panier</button>
                    </div>
                </div>
            </nav>
        {% endblock %}

        <p>Lorem Elsass ipsum condimentum aliquam sed kuglopf messti de Bischheim Wurschtsalad non commodo Oberschaeffolsheim libero, eleifend sed merci vielmols Pfourtz ! gal turpis, sagittis s'guelt kougelhopf bissame Pellentesque quam. bredele blottkopf, tellus Strasbourg mamsell schnaps kartoffelsalad Chulia Roberstau Yo dû. amet, ornare adipiscing nüdle sit morbi elit Salut bisamme purus elementum ante senectus schneck baeckeoffe varius Kabinetpapier ch'ai Racing. Heineken rossbolla pellentesque dui leverwurscht Hans mänele rucksack et suspendisse lacus réchime knack jetz gehts los mollis geïz salu Mauris hoplageiss sit tristique quam, porta und rhoncus sit ac flammekueche dignissim Miss Dahlias hopla Salu bissame Verdammi DNA, ornare placerat nullam libero. tchao bissame non hopla Oberschaeffolsheim leo picon bière ac amet ftomi! in, chambon hopla vielmols, Huguette libero, Chulien Richard Schirmeck risus,  knepfle dolor Gal. Carola Christkindelsmärik id Spätzle amet so consectetur wie munster gravida tellus lotto-owe ullamcorper météor schpeck geht's semper id, barapli leo yeuh. turpis Gal ! wurscht hop gewurztraminer vulputate habitant Morbi eget Coopé de Truchtersheim auctor, hopla</p>
        <p>Lorem Elsass ipsum condimentum aliquam sed kuglopf messti de Bischheim Wurschtsalad non commodo Oberschaeffolsheim libero, eleifend sed merci vielmols Pfourtz ! gal turpis, sagittis s'guelt kougelhopf bissame Pellentesque quam. bredele blottkopf, tellus Strasbourg mamsell schnaps kartoffelsalad Chulia Roberstau Yo dû. amet, ornare adipiscing nüdle sit morbi elit Salut bisamme purus elementum ante senectus schneck baeckeoffe varius Kabinetpapier ch'ai Racing. Heineken rossbolla pellentesque dui leverwurscht Hans mänele rucksack et suspendisse lacus réchime knack jetz gehts los mollis geïz salu Mauris hoplageiss sit tristique quam, porta und rhoncus sit ac flammekueche dignissim Miss Dahlias hopla Salu bissame Verdammi DNA, ornare placerat nullam libero. tchao bissame non hopla Oberschaeffolsheim leo picon bière ac amet ftomi! in, chambon hopla vielmols, Huguette libero, Chulien Richard Schirmeck risus,  knepfle dolor Gal. Carola Christkindelsmärik id Spätzle amet so consectetur wie munster gravida tellus lotto-owe ullamcorper météor schpeck geht's semper id, barapli leo yeuh. turpis Gal ! wurscht hop gewurztraminer vulputate habitant Morbi eget Coopé de Truchtersheim auctor, hopla</p>
        <p>Lorem Elsass ipsum condimentum aliquam sed kuglopf messti de Bischheim Wurschtsalad non commodo Oberschaeffolsheim libero, eleifend sed merci vielmols Pfourtz ! gal turpis, sagittis s'guelt kougelhopf bissame Pellentesque quam. bredele blottkopf, tellus Strasbourg mamsell schnaps kartoffelsalad Chulia Roberstau Yo dû. amet, ornare adipiscing nüdle sit morbi elit Salut bisamme purus elementum ante senectus schneck baeckeoffe varius Kabinetpapier ch'ai Racing. Heineken rossbolla pellentesque dui leverwurscht Hans mänele rucksack et suspendisse lacus réchime knack jetz gehts los mollis geïz salu Mauris hoplageiss sit tristique quam, porta und rhoncus sit ac flammekueche dignissim Miss Dahlias hopla Salu bissame Verdammi DNA, ornare placerat nullam libero. tchao bissame non hopla Oberschaeffolsheim leo picon bière ac amet ftomi! in, chambon hopla vielmols, Huguette libero, Chulien Richard Schirmeck risus,  knepfle dolor Gal. Carola Christkindelsmärik id Spätzle amet so consectetur wie munster gravida tellus lotto-owe ullamcorper météor schpeck geht's semper id, barapli leo yeuh. turpis Gal ! wurscht hop gewurztraminer vulputate habitant Morbi eget Coopé de Truchtersheim auctor, hopla</p>
        <p>Lorem Elsass ipsum condimentum aliquam sed kuglopf messti de Bischheim Wurschtsalad non commodo Oberschaeffolsheim libero, eleifend sed merci vielmols Pfourtz ! gal turpis, sagittis s'guelt kougelhopf bissame Pellentesque quam. bredele blottkopf, tellus Strasbourg mamsell schnaps kartoffelsalad Chulia Roberstau Yo dû. amet, ornare adipiscing nüdle sit morbi elit Salut bisamme purus elementum ante senectus schneck baeckeoffe varius Kabinetpapier ch'ai Racing. Heineken rossbolla pellentesque dui leverwurscht Hans mänele rucksack et suspendisse lacus réchime knack jetz gehts los mollis geïz salu Mauris hoplageiss sit tristique quam, porta und rhoncus sit ac flammekueche dignissim Miss Dahlias hopla Salu bissame Verdammi DNA, ornare placerat nullam libero. tchao bissame non hopla Oberschaeffolsheim leo picon bière ac amet ftomi! in, chambon hopla vielmols, Huguette libero, Chulien Richard Schirmeck risus,  knepfle dolor Gal. Carola Christkindelsmärik id Spätzle amet so consectetur wie munster gravida tellus lotto-owe ullamcorper météor schpeck geht's semper id, barapli leo yeuh. turpis Gal ! wurscht hop gewurztraminer vulputate habitant Morbi eget Coopé de Truchtersheim auctor, hopla</p>
        <p>Lorem Elsass ipsum condimentum aliquam sed kuglopf messti de Bischheim Wurschtsalad non commodo Oberschaeffolsheim libero, eleifend sed merci vielmols Pfourtz ! gal turpis, sagittis s'guelt kougelhopf bissame Pellentesque quam. bredele blottkopf, tellus Strasbourg mamsell schnaps kartoffelsalad Chulia Roberstau Yo dû. amet, ornare adipiscing nüdle sit morbi elit Salut bisamme purus elementum ante senectus schneck baeckeoffe varius Kabinetpapier ch'ai Racing. Heineken rossbolla pellentesque dui leverwurscht Hans mänele rucksack et suspendisse lacus réchime knack jetz gehts los mollis geïz salu Mauris hoplageiss sit tristique quam, porta und rhoncus sit ac flammekueche dignissim Miss Dahlias hopla Salu bissame Verdammi DNA, ornare placerat nullam libero. tchao bissame non hopla Oberschaeffolsheim leo picon bière ac amet ftomi! in, chambon hopla vielmols, Huguette libero, Chulien Richard Schirmeck risus,  knepfle dolor Gal. Carola Christkindelsmärik id Spätzle amet so consectetur wie munster gravida tellus lotto-owe ullamcorper météor schpeck geht's semper id, barapli leo yeuh. turpis Gal ! wurscht hop gewurztraminer vulputate habitant Morbi eget Coopé de Truchtersheim auctor, hopla</p>


        {% block body %}
        {% endblock %}

        {% block footer %}
            <div class="footer">
                <section class="command">
                    <div class="debit text-right">
                        <h6>Débit à la Livraison</h6>
                        <p>blablablablablablabla</p>
                        <img src="{{ asset('assets/img/ico-paiement-livraison-big.gif') }}" alt="paiement-livraison" />
                    </div>
                    <div class="xpaye text-right">
                        <h6>Paiement en 300000x</h6>
                        <p>blablablablablablabla</p>
                        <img src="{{ asset('assets/img/Facilités.png') }}" alt="Facilités" />
                    </div>
                    <div class="livraison text-right">
                        <h6>Livraison express en Fusée</h6>
                        <p>blablablablablablabla</p>
                        <img src="{{ asset('assets/img/Fusee-bleu-600x600.png') }}" alt="Livraison" />
                    </div>
                </section>
                <HR align="center" size="8" width="80%">
                <section class="descriptif">
                    <div class="mode_payement">
                        <h6>Modes de Paiement :</h6>
                        <img src="{{ asset('assets/img/modes-virtuels.png') }}" alt="Mode-Paiement" />
                    </div>
                    <div class="legal center">
                        <a href="#" target="=_blank">Contact</a>
                        <a href="#" target="=_blank">Mentions légales</a>
                    </div>
                    <div class="dead">
                        <h6>La Rubrique DEAD</h6>
                    </div>
                </section>
                <HR align="center" width="80%">
                <section class="newsletter">
                    <h4>Newsletter :</h4>
                    <input type="email">
                    <button type="button" class="btn btn-outline-dark">Send</button>
                </section>
                <section class="bottomfooter text-right">
                    <div class="socialink">
                        <a href="https://www.facebook.com/" target="=_blank"><img src="{{ asset('assets/img/facebook.png') }}" alt="Facebook" /></a>
                        <a href="https://twitter.com/" target="=_blank"><img src="{{ asset('assets/img/twitter.png') }}" alt="Twitter" /></a>
                        <a href="https://www.instagram.com/" target="=_blank"><img src="{{ asset('assets/img/Instagram-170x170-icon_large.png') }}" alt="Instagram"/></a>
                        <a href="https://www.youtube.com/" target="=_blank"><img src="{{ asset('assets/img/youtube-128.png') }}" alt="Youtube"/></a>
                        <a href="https://www.google.com/?hl=fr" target="=_blank"><img src="{{ asset('assets/img/google.png') }}" alt="Google"/></a>
                    </div>
                    <div>
                        <p>&copy; Copyrigth | Chasse, Pêche et PHP</p>
                    </div>
                </section>
            </div>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/main.js') }}"></script>
        {% endblock %}

</html>